Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Reorder export conditions
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@234aed291aa92a66fb7f3cd1e1a692f032dcaa3a 🚀
  404.html
  _next/static/Hfpa-qHt5hivBqrvMWdwb/_buildManifest.js
  _next/static/Hfpa-qHt5hivBqrvMWdwb/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add module-sync condition
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@056c1d9a0799ee3bb2ca11faf68d0b06c0f5df42 🚀
  404.html
  _next/static/pRNZXIGJqmUESEMEGQdSi/_buildManifest.js
  _next/static/pRNZXIGJqmUESEMEGQdSi/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add warning about NPM_PUBLISH_TOKEN
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@fa99c6632cfe8471c30d3f8c2072d10013f9dd78 🚀
  404.html
  _next/static/chunks/app/layout-709b82eab753a829.js
  _next/static/chunks/app/layout-829c52a6fa266924.js
  _next/static/css/1b15dbe72d3f3588.css
  _next/static/css/e18dae0f778447a7.css
  _next/static/media/cb0a9ee3a59e8bf7-s.p.woff2
  _next/static/media/eae1008d0a7c1eaf-s.p.woff2
  _next/static/vXXJYQ8X2Oy9UdJup8h74/_buildManifest.js
  _next/static/vXXJYQ8X2Oy9UdJup8h74/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

fix: add italic font to image for fail state
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@a05739c7b4dccf46135e3a1f5a7cd854cbe7b7bc 🚀
  404.html
  _next/static/YTV82sx3eHFSRVxDPHXKA/_buildManifest.js
  _next/static/YTV82sx3eHFSRVxDPHXKA/_ssgManifest.js
  _next/static/css/1737d2f1c22a72a3.css
  _next/static/css/e18dae0f778447a7.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

chore: fix eslint errors
  package.json
  src/app/layout.tsx
  src/app/registry.tsx
  src/app/talks/page.tsx
  src/components/SearchBar/index.tsx
  src/components/SocialLinks/index.tsx
  yarn.lock
Due: lint

chore: fix type errors and incompatibilities
  next-env.d.ts
  src/app/about/page.tsx
  src/app/data.json/route.ts
  src/app/layout.tsx
  src/app/posts/[id]/page.tsx
  src/app/rss.xml/route.ts
  src/app/sitemap.xml/route.ts
  src/app/talks/page.tsx
  src/components/CopyButton/index.tsx
  src/components/SearchBar/index.tsx
Due: lint, types

chore: move to sitemap.ts
  src/app/sitemap.ts
  src/app/sitemap.xml/route.ts
Due: lint, types

chore: upgrade to nextjs 15
  next-env.d.ts
  package.json
  src/app/about/page.tsx
  src/app/data.json/route.ts
  src/app/layout.tsx
  src/app/posts/[id]/page.tsx
  src/app/registry.tsx
  src/app/rss.xml/route.ts
  src/app/sitemap.xml/route.ts
  src/app/talks/page.tsx
  src/components/CopyButton/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SocialLinks/index.tsx
  yarn.lock
Due: lint, types

refactor: move to sitemap.ts
  src/app/sitemap.ts
  src/app/sitemap.xml/route.ts
Due: lint, types

feat: add opengraph images
  src/app/opengraph-image.tsx
  src/app/posts/[id]/opengraph-image.tsx
  src/app/posts/[id]/page.tsx
  src/components/Footer/index.tsx
  src/components/SocialLinks/index.tsx
  src/helpers/loadGoogleFont.tsx
  src/metadata.json
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@130549dba146ce422047ff8a074d271f3a8249b4 🚀
  404.html
  _next/static/5WLi9LjWRn74iV9WkTHgY/_buildManifest.js
  _next/static/5WLi9LjWRn74iV9WkTHgY/_ssgManifest.js
  _next/static/TLOoKK2X0b6NXPzCbvf_z/_buildManifest.js
  _next/static/TLOoKK2X0b6NXPzCbvf_z/_ssgManifest.js
  _next/static/chunks/app/data.json/route-7eb6406314e1fc1f.js
  _next/static/chunks/app/data.json/route-b11ae37056d8a1e8.js
  _next/static/chunks/app/opengraph-image/route-7eb6406314e1fc1f.js
  _next/static/chunks/app/posts/[id]/opengraph-image/route-7eb6406314e1fc1f.js
  _next/static/chunks/app/posts/[id]/page-b28733137b70b991.js
  _next/static/chunks/app/posts/[id]/page-bdc6e12f068b78a1.js
  _next/static/chunks/app/sitemap.xml/route-7eb6406314e1fc1f.js
  _next/static/chunks/app/sitemap.xml/route-b11ae37056d8a1e8.js
  about.html
  about.txt
  index.html
  index.txt
  opengraph-image
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/automated-release-on-github-actions/opengraph-image
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/how-to-write-a-minimal-code-editor/opengraph-image
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/my-zsh-setup/opengraph-image
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/publishing-dual-module-esm-libraries/opengraph-image
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  posts/stacking-context-in-css/opengraph-image
  talks.html
  talks.txt
Due: lint, types

fix: tweak how headings are shown
  src/app/globals.css
  src/app/posts/[id]/opengraph-image.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@6572b881a2cce1d2b440239dea0e90a5ae0a96f7 🚀
  404.html
  _next/static/css/a8ee10bd8a38d2eb.css
  _next/static/css/c0b9d5c8bcb3fec2.css
  _next/static/gXlOWuxtjHmSp1cQyxNFf/_buildManifest.js
  _next/static/gXlOWuxtjHmSp1cQyxNFf/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/automated-release-on-github-actions/opengraph-image
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/how-to-write-a-minimal-code-editor/opengraph-image
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add italic font to image for fail state
  src/app/globals.css
Due: none

Upgrade to nextjs 15
  next-env.d.ts
  package.json
  src/app/about/page.tsx
  src/app/data.json/route.ts
  src/app/layout.tsx
  src/app/posts/[id]/page.tsx
  src/app/registry.tsx
  src/app/rss.xml/route.ts
  src/app/sitemap.xml/route.ts
  src/app/talks/page.tsx
  src/components/CopyButton/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SocialLinks/index.tsx
  yarn.lock
Due: lint, types

Move to sitemap.ts
  src/app/sitemap.ts
  src/app/sitemap.xml/route.ts
Due: lint, types

A dd opengraph images
  src/app/opengraph-image.tsx
  src/app/posts/[id]/opengraph-image.tsx
  src/app/posts/[id]/page.tsx
  src/components/Footer/index.tsx
  src/components/SocialLinks/index.tsx
  src/helpers/loadGoogleFont.tsx
  src/metadata.json
Due: lint

Tweak how headings are shown
  src/app/globals.css
  src/app/posts/[id]/opengraph-image.tsx
Due: lint

Add accent color to styles
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@8ac5aa34fd27d9f464aae0533099f9752446b5ac 🚀
  404.html
  _next/static/4dJqfs5xjeJHs0pTRXs3D/_buildManifest.js
  _next/static/4dJqfs5xjeJHs0pTRXs3D/_ssgManifest.js
  _next/static/css/a8ee10bd8a38d2eb.css
  _next/static/css/db81ed9b34145cd1.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add styling for kbd tag
  src/app/globals.css
Due: none

Add article for macOS shortcuts in hyprland
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@6a93c0f9b7b6c907ae81cf2b8a14a5c36398df67 🚀
  404.html
  _next/static/W8s5x8caVHE1JzIHwOl0j/_buildManifest.js
  _next/static/W8s5x8caVHE1JzIHwOl0j/_ssgManifest.js
  _next/static/css/cc1e03c09c7790d5.css
  _next/static/css/db81ed9b34145cd1.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@a656d1966a8486d5892f12137f32109a723523be 🚀
  404.html
  _next/static/Yija-iHPRtM_rPGLgh8mp/_buildManifest.js
  _next/static/Yija-iHPRtM_rPGLgh8mp/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Mention config file location
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Add spacing on right of codeblock for copy button
  src/components/CopyButton/styles.module.css
  src/components/Pre/styles.module.css
Due: none

Standardize blog titles
  src/posts/001-automated-release-on-github-actions/page.md
  src/posts/005-my-zsh-setup/page.md
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@cf62976328bbf9219d8aab84957475859079dcad 🚀
  404.html
  _next/static/eYxBxXHSPw5W0CY6L0uwu/_buildManifest.js
  _next/static/eYxBxXHSPw5W0CY6L0uwu/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/automated-release-on-github-actions/opengraph-image
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/macos-like-shortcuts-in-hyprland/opengraph-image
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/my-zsh-setup/opengraph-image
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  talks.html
  talks.txt
Due: lint, types

Remove second Cmd+Q binding
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
