Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx, tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@6b663a7dfe95f01b13f0b86612959fd242d93f5e 🚀
  404.html
  _next/static/chunks/app/layout-489e58082c13bd14.js
  _next/static/chunks/app/layout-b4de6527c1a2e4d6.js
  _next/static/j17uq1hWkULOvRDeXvUyh/_buildManifest.js
  _next/static/j17uq1hWkULOvRDeXvUyh/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

More fixes to searchbar styling
  src/components/NavBar/styles.module.css
  src/components/SearchBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@4513fad83fce4cc532c47ee4aca1db15c4440a67 🚀
  404.html
  _next/static/OBRqp7_jQF1_D2Py_aYUi/_buildManifest.js
  _next/static/OBRqp7_jQF1_D2Py_aYUi/_ssgManifest.js
  _next/static/css/43099bd52c3adc83.css
  _next/static/css/5d38fd6d6ea22642.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Adjust left icon position in navbar
  src/components/NavBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@4ce6202a06ec0bf12472e2b0ca859477b4991501 🚀
  404.html
  _next/static/css/43099bd52c3adc83.css
  _next/static/css/7ab78d2bc4f093d7.css
  _next/static/pgZ9yrc0U---mfop7PaSj/_buildManifest.js
  _next/static/pgZ9yrc0U---mfop7PaSj/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@33fe5bd685f6b100f1d77f3e4ee93a5074b47475 🚀
  404.html
  _next/static/aXsRK2Tm5U-1_rmufZCEH/_buildManifest.js
  _next/static/aXsRK2Tm5U-1_rmufZCEH/_ssgManifest.js
  _next/static/chunks/app/layout-489e58082c13bd14.js
  _next/static/chunks/app/layout-7938c894b21f0d33.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Always add query to search highlights
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@bbf4ac66e504cd0db0437b69b49cd5a4db9e3316 🚀
  404.html
  _next/static/0JAXmX2hq7VG8Nj6N-Nab/_buildManifest.js
  _next/static/0JAXmX2hq7VG8Nj6N-Nab/_ssgManifest.js
  _next/static/chunks/app/layout-7938c894b21f0d33.js
  _next/static/chunks/app/layout-c0cae9c3560cc04f.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Update conclusion for dual modules
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@f9d9108b353cc818825e3676bb2648d332adec10 🚀
  404.html
  _next/static/oFcmdAXpqwEJQSOqgorW5/_buildManifest.js
  _next/static/oFcmdAXpqwEJQSOqgorW5/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add a note about platform specific extensions
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@100832e8bfc04b6b0eaa01a19e0e0c8317038291 🚀
  404.html
  _next/static/1vcSi2JRsZWCcZqI0S-cY/_buildManifest.js
  _next/static/1vcSi2JRsZWCcZqI0S-cY/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Remove lazy from require.context for HMR to work
  src/posts/_all.ts
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@aac1a625cc369a98e58feb2243ffb360c1fcf34a 🚀
  404.html
  _next/static/CvY674FMBwNx0fv9h2LFZ/_buildManifest.js
  _next/static/CvY674FMBwNx0fv9h2LFZ/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Highlight TOC item when heading is above halfway
  src/components/TableOfContent/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@1461ed22e7c0ec7ca15f764c3ba81002e6b2f867 🚀
  404.html
  _next/static/chunks/app/posts/[id]/page-81ef5d2ca4a95540.js
  _next/static/chunks/app/posts/[id]/page-d45a72e2e3fa5f0a.js
  _next/static/vfDs91dslexz1deipOhFe/_buildManifest.js
  _next/static/vfDs91dslexz1deipOhFe/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Use postcss-custom-media for media queries
  package.json
  postcss.config.mjs
  src/app/globals.css
  src/app/media.css
  src/app/page.module.css
  src/components/NavBar/styles.module.css
  src/components/Playground/styles.module.css
  src/components/SearchBar/styles.module.css
  src/components/SocialLinks/styles.module.css
  tsconfig.json
  yarn.lock
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@894a586ef48252b1c766d8a798ea4f8595726659 🚀
  404.html
  _next/static/5EeskszFs61x7-w0L-eCE/_buildManifest.js
  _next/static/5EeskszFs61x7-w0L-eCE/_ssgManifest.js
  _next/static/css/7ab78d2bc4f093d7.css
  _next/static/css/824cf7557e890a21.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@35df687e857d505295c6e55b59866a72b1de569c 🚀
  404.html
  _next/static/mNUgQy_Qj5Pnze36tIZ-3/_buildManifest.js
  _next/static/mNUgQy_Qj5Pnze36tIZ-3/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@107d28629b56a9bae9f53264feb2d3e424403173 🚀
  404.html
  _next/static/zRewlSFh6CJKbrGa86EkF/_buildManifest.js
  _next/static/zRewlSFh6CJKbrGa86EkF/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@1ef2c849808958bce539a361420949ac9a8d04ea 🚀
  404.html
  _next/static/BqIUkzJFiUtB4MxPfTW4j/_buildManifest.js
  _next/static/BqIUkzJFiUtB4MxPfTW4j/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@3c7fcb8a849ee2d65337de74a90fa99349ad177b 🚀
  404.html
  _next/static/EbkHjQ-BtKzpTHs6qcQtZ/_buildManifest.js
  _next/static/EbkHjQ-BtKzpTHs6qcQtZ/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@9e8a865f32d50379c993dece34c1b418fbf61a74 🚀
  404.html
  _next/static/x46Q0hETaJ_O297nuuwIP/_buildManifest.js
  _next/static/x46Q0hETaJ_O297nuuwIP/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@6fb49a4641fa70ca0b368acb5193c36d09a1e944 🚀
  404.html
  _next/static/m-N8tr-nJpzD3Rvzs_GFo/_buildManifest.js
  _next/static/m-N8tr-nJpzD3Rvzs_GFo/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@46479ad747d248ed09e1126c56d0f989dba2acb0 🚀
  404.html
  _next/static/Q4ZVmFUVJ0E1_8AQBgVwo/_buildManifest.js
  _next/static/Q4ZVmFUVJ0E1_8AQBgVwo/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@a733d990a447a6676fd3c30a664cc3db2942c4bc 🚀
  404.html
  _next/static/oK1rvp6IYWY4zAUKtxvsq/_buildManifest.js
  _next/static/oK1rvp6IYWY4zAUKtxvsq/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add example for exporting types for ESM
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@8aadeae1fd2f5fd7638c2a2e25c0bf323cb475e3 🚀
  404.html
  _next/static/UKNXBZq9VEya8MfJGyO8C/_buildManifest.js
  _next/static/UKNXBZq9VEya8MfJGyO8C/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Tweak heading styles
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@cecb623b4d7b09e6c170c2a6ed91ddaa3b88bed5 🚀
  404.html
  _next/static/css/60e5c42a8e089186.css
  _next/static/css/824cf7557e890a21.css
  _next/static/l0WypvIdL6rlH5cEEa-Gl/_buildManifest.js
  _next/static/l0WypvIdL6rlH5cEEa-Gl/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add a note about generating provenance statements
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@a0cafc9b237546984fcd4bf286de04b89fb95290 🚀
  404.html
  _next/static/34DM0fGSJuVZX5oTYFdEq/_buildManifest.js
  _next/static/34DM0fGSJuVZX5oTYFdEq/_ssgManifest.js
  _next/static/chunks/app/layout-9fb048ed39c9a2d3.js
  _next/static/chunks/app/layout-c0cae9c3560cc04f.js
  _next/static/css/60e5c42a8e089186.css
  _next/static/css/c7f152e50be32c48.css
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Document fine grained token for GitHub
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@d8e959ebc994f24406adb241cd62baa63fa07d45 🚀
  404.html
  _next/static/4RB_YuyZJARe2W-LCvFrV/_buildManifest.js
  _next/static/4RB_YuyZJARe2W-LCvFrV/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Use admonitions syntax for warning
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@91dae455d21fe8bdaabbabf1041c812d9c13ac6f 🚀
  404.html
  _next/static/AUq7XWK4x45N8LSfGiSdo/_buildManifest.js
  _next/static/AUq7XWK4x45N8LSfGiSdo/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Use import.meta.webpackContext instead of require.context
  src/posts/_all.ts
Due: lint, types

Add Bluesky link
  src/app/about/page.tsx
  src/components/SocialLinks/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@d48a82855cb344ac74e008dfc27bec38ff0b4437 🚀
  404.html
  _next/static/7k7cSVtX8h8F_O7Zy-MDM/_buildManifest.js
  _next/static/7k7cSVtX8h8F_O7Zy-MDM/_ssgManifest.js
  _next/static/chunks/app/posts/[id]/page-07e623312c00593d.js
  _next/static/chunks/app/posts/[id]/page-d45a72e2e3fa5f0a.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Include update about unflagged synchronous require
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown
