Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@0f0efdbecea509d980057db0011e1985aeb162bf 🚀
  404.html
  _next/static/chunks/app/about/page-7d28bb91bb0eeacf.js
  _next/static/chunks/app/layout-7241821b825b0836.js
  _next/static/chunks/app/page-e206dd5cf8d583d1.js
  _next/static/chunks/app/posts/[id]/page-310791362d01a413.js
  _next/static/chunks/webpack-57564579a47c9c72.js
  _next/static/chunks/webpack-e8a3a14841a57c45.js
  _next/static/css/2a8343fe704061c5.css
  _next/static/css/3be2cfecaf934ce0.css
  _next/static/css/53196d7830d8d651.css
  _next/static/css/65c2bc6818c33aa7.css
  _next/static/css/76279fc5c42baa6c.css
  _next/static/css/977a4ec834a27d6c.css
  _next/static/css/eeaf8571c9203efa.css
  _next/static/css/f89778ee9686bbb1.css
  _next/static/u6Lws15UXmONYc2nDK1ox/_buildManifest.js
  _next/static/u6Lws15UXmONYc2nDK1ox/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Enable typed routes
  next.config.mjs
  src/components/NavBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@02076152c43e6ccf98e50740a9e7e51864470376 🚀
  404.html
  _next/static/EP8_Wv91u-Jx-Z88HnIE1/_buildManifest.js
  _next/static/EP8_Wv91u-Jx-Z88HnIE1/_ssgManifest.js
  _next/static/chunks/app/layout-7241821b825b0836.js
  _next/static/chunks/app/layout-a19d2d91788d1270.js
  _next/static/chunks/webpack-b949b737fc3dd96f.js
  _next/static/chunks/webpack-e8a3a14841a57c45.js
  _next/static/css/996e5bf6c369e281.css
  _next/static/css/eeaf8571c9203efa.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@76f0022bc0b81fcf88fe9db1656529947bef37fa 🚀
  404.html
  _next/static/RDme9DvMiySz31jQxe732/_buildManifest.js
  _next/static/RDme9DvMiySz31jQxe732/_ssgManifest.js
  _next/static/chunks/674-536ec6060786175e.js
  _next/static/chunks/674-7d706493b9c94557.js
  _next/static/chunks/app/layout-0c318c747c971c55.js
  _next/static/chunks/app/layout-a19d2d91788d1270.js
  _next/static/chunks/app/page-44a1a60d4eee8bf1.js
  _next/static/chunks/app/page-e206dd5cf8d583d1.js
  _next/static/chunks/app/posts/[id]/page-088f5eeea3bf0855.js
  _next/static/chunks/app/posts/[id]/page-310791362d01a413.js
  _next/static/chunks/webpack-8c68940b2ff32b88.js
  _next/static/chunks/webpack-b949b737fc3dd96f.js
  _next/static/css/996e5bf6c369e281.css
  _next/static/css/e330110c193f6d67.css
  _next/static/media/release-workflow.26d913e6.png
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add ability to refer to local images
  mdx-components.tsx
  next.config.mjs
  package.json
  src/app/globals.css
  yarn.lock
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@0ce7338c7913669e8bd6ab2067f31a70758f7562 🚀
  404.html
  _next/static/chunks/app/layout-0c318c747c971c55.js
  _next/static/chunks/app/layout-a138953c1b0261d5.js
  _next/static/chunks/webpack-87a9f911f4633d89.js
  _next/static/chunks/webpack-8c68940b2ff32b88.js
  _next/static/css/d669b0c5a4a96c88.css
  _next/static/css/e330110c193f6d67.css
  _next/static/jg-Dr40op3eOUK1oxKiPw/_buildManifest.js
  _next/static/jg-Dr40op3eOUK1oxKiPw/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@ac21b013caa3bd8e8e8742ec86e0a1df799bfd56 🚀
  404.html
  _next/static/KsxxEf4hBVECzk8UYjJF9/_buildManifest.js
  _next/static/KsxxEf4hBVECzk8UYjJF9/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@9abcda6360c874cfd4dacb6c4503e6631b65f5ad 🚀
  404.html
  _next/static/QFoi1th205OiMkan7fbe2/_buildManifest.js
  _next/static/QFoi1th205OiMkan7fbe2/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Update article for automating release
  src/posts/001-automated-release-on-github-actions/page.md
  src/posts/001-automated-release-on-github-actions/release-workflow.png
  src/posts/_all.ts
Due: lint, types, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@82e7724952a1f4cc148728b334e854345efe44bb 🚀
  404.html
  _next/static/j8nIl2I45fNOkDsnSU14t/_buildManifest.js
  _next/static/j8nIl2I45fNOkDsnSU14t/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@62174edcff745bb845b1f05583eb3a08f020d74c 🚀
  404.html
  _next/static/FkG69EX3StcvtyWj0NI5w/_buildManifest.js
  _next/static/FkG69EX3StcvtyWj0NI5w/_ssgManifest.js
  _next/static/chunks/035175d8.e15212a16ca06c24.js
  _next/static/chunks/239.c859029beff262c9.js
  _next/static/chunks/268.7701dd7471cdd8ba.js
  _next/static/chunks/326-fdac75c05c9fb192.js
  _next/static/chunks/363642f4-0ccddbe1003d542f.js
  _next/static/chunks/413-d00ccae56af39f6a.js
  _next/static/chunks/413-e1afa8afdb3a53b4.js
  _next/static/chunks/472-1586b76c9c0eb70e.js
  _next/static/chunks/640.714b0ebd372af5b5.js
  _next/static/chunks/674-7d706493b9c94557.js
  _next/static/chunks/691.967c3e567bbdc226.js
  _next/static/chunks/836-8d300171b788f7fb.js
  _next/static/chunks/app/_not-found-c0c611ab48402f0d.js
  _next/static/chunks/app/about/page-2fe6485f5002d800.js
  _next/static/chunks/app/about/page-7d28bb91bb0eeacf.js
  _next/static/chunks/app/layout-a138953c1b0261d5.js
  _next/static/chunks/app/layout-c5967ef6ca36e2cc.js
  _next/static/chunks/app/page-44a1a60d4eee8bf1.js
  _next/static/chunks/app/page-8d34d50423c01d4d.js
  _next/static/chunks/app/posts/[id]/page-088f5eeea3bf0855.js
  _next/static/chunks/app/posts/[id]/page-76146b5403ec06fc.js
  _next/static/chunks/e58a7f8f-82f0c3a99070562c.js
  _next/static/chunks/fd9d1056-0a16d9d2c41d6e89.js
  _next/static/chunks/webpack-145732bd124cc79b.js
  _next/static/chunks/webpack-87a9f911f4633d89.js
  _next/static/css/2a8343fe704061c5.css
  _next/static/css/65c2bc6818c33aa7.css
  _next/static/css/d669b0c5a4a96c88.css
  _next/static/css/e330110c193f6d67.css
  _next/static/css/e80ae09f9cba835c.css
  _next/static/css/fc761d150746987c.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@bec66034d649b55b45626baa6dab2e6a89a36cbc 🚀
  404.html
  _next/static/Dz4lsGEvH0te4buHFNE2k/_buildManifest.js
  _next/static/Dz4lsGEvH0te4buHFNE2k/_ssgManifest.js
  _next/static/chunks/app/layout-c5967ef6ca36e2cc.js
  _next/static/chunks/app/layout-e59a810d41f36004.js
  _next/static/chunks/app/page-0268c028d1468ecd.js
  _next/static/chunks/app/page-8d34d50423c01d4d.js
  _next/static/chunks/app/posts/[id]/page-76146b5403ec06fc.js
  _next/static/chunks/app/posts/[id]/page-d4fb4c1c2a44f600.js
  _next/static/chunks/webpack-145732bd124cc79b.js
  _next/static/chunks/webpack-3260ace79a006274.js
  _next/static/css/8c0707eea83382b4.css
  _next/static/css/9db091e8986dee3d.css
  _next/static/css/d669b0c5a4a96c88.css
  _next/static/css/e330110c193f6d67.css
  _next/static/css/e80ae09f9cba835c.css
  _next/static/css/fc761d150746987c.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Integrate Sandpack for playground
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[id]/page.tsx
  src/app/registry.tsx
  src/components/Playground/index.tsx
  src/components/Playground/material-palenight.json
  src/components/Playground/styles.module.css
  src/components/PostMeta/index.tsx
  src/components/Pre/index.tsx
  src/plugins/rehype-codeblock-meta.mjs
  yarn.lock
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@c86dc0c444961eab15a0d8b250c5e50484cd5d90 🚀
  404.html
  _next/static/LqhK3V1mDVMrqYBDuSRLc/_buildManifest.js
  _next/static/LqhK3V1mDVMrqYBDuSRLc/_ssgManifest.js
  _next/static/chunks/app/page-9b2cb9f06909e89f.js
  _next/static/chunks/app/posts/[id]/page-d0223830874c7006.js
  _next/static/chunks/webpack-3260ace79a006274.js
  _next/static/chunks/webpack-f65d4bff18cf51f7.js
  _next/static/css/797d1856b8de3578.css
  _next/static/css/8a2ffa1ffd914a57.css
  _next/static/css/8c0707eea83382b4.css
  _next/static/css/9db091e8986dee3d.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add article abour minimal code editor
  next.config.mjs
  src/app/globals.css
  src/posts/002-how-to-write-a-minimal-code-editor/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@0349ba2ccccccbad1b06f1ae14f4b1425412d46b 🚀
  404.html
  _next/static/QmlwYQ3AQi1dk5JVbCrcA/_buildManifest.js
  _next/static/QmlwYQ3AQi1dk5JVbCrcA/_ssgManifest.js
  _next/static/chunks/app/layout-639be7217a33fd34.js
  _next/static/chunks/app/layout-e59a810d41f36004.js
  _next/static/chunks/webpack-52bfd96efa876627.js
  _next/static/chunks/webpack-f65d4bff18cf51f7.js
  _next/static/css/d669b0c5a4a96c88.css
  _next/static/css/dac78f4172d5c0ce.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  rss.xml
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@def039515f1b29b06aa524de84db007eb6d2eb08 🚀
  404.html
  _next/static/qxUwkSQ0zfEesax8jtvUp/_buildManifest.js
  _next/static/qxUwkSQ0zfEesax8jtvUp/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@60ada34502f432348dfcd2364ed632ad8414e547 🚀
  404.html
  _next/static/GAMWO5kfEqqZ26LMQOh6I/_buildManifest.js
  _next/static/GAMWO5kfEqqZ26LMQOh6I/_ssgManifest.js
  _next/static/chunks/app/layout-639be7217a33fd34.js
  _next/static/chunks/app/layout-8f07bdd22b49c7b4.js
  _next/static/chunks/app/posts/[id]/page-d0223830874c7006.js
  _next/static/chunks/app/posts/[id]/page-edb62057df4ca6dd.js
  _next/static/chunks/webpack-52bfd96efa876627.js
  _next/static/chunks/webpack-71f1907eb7685e54.js
  _next/static/css/374588018a06e257.css
  _next/static/css/dac78f4172d5c0ce.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@61c2f36fa8abf460a1d76bc0ad62d3f3315f5935 🚀
  404.html
  _next/static/SlTYV7keTli-SC_CJHRfy/_buildManifest.js
  _next/static/SlTYV7keTli-SC_CJHRfy/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@c2235231ef6f15cad5a8a11e78ea25703c44c318 🚀
  404.html
  _next/static/igY-CV77VQFaRo7KkLQZ_/_buildManifest.js
  _next/static/igY-CV77VQFaRo7KkLQZ_/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
Due: lint, types

Add article abour minimal code editor (#5)
  next.config.mjs
  src/app/globals.css
  src/posts/002-how-to-write-a-minimal-code-editor/page.md
Due: markdown

Open external links in new tab
  next.config.mjs
  package.json
  yarn.lock
Due: none

Include yarn binary in the repo
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
Due: none

Strip suffix when sharing to X
  src/components/SocialLinks/index.tsx
Due: lint

Add opengraph and twitter cards
  src/app/posts/[id]/page.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@734a1cd5d01ba86095a45067685a27e6bbfb4a2f 🚀
  404.html
  _next/static/mzKPU2LEgBo3xiEH-Do9y/_buildManifest.js
  _next/static/mzKPU2LEgBo3xiEH-Do9y/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
Due: lint, types

Add talks page
  src/app/talks/page.module.css
  src/app/talks/page.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@99affb498aaa9f44a8e8b65975be2a91df90ccdb 🚀
  404.html
  _next/static/BHNQx1tHyrg-TXpS3hxZT/_buildManifest.js
  _next/static/BHNQx1tHyrg-TXpS3hxZT/_ssgManifest.js
  _next/static/chunks/app/talks/page-c8f27ff4bc955e0b.js
  _next/static/chunks/main-b620ed4c0750bfc0.js
  _next/static/chunks/main-fa9e3486b6668f3e.js
  _next/static/chunks/webpack-5410a7714b338df3.js
  _next/static/chunks/webpack-71f1907eb7685e54.js
  _next/static/css/ea05ccccb58f4c57.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  talks.html
  talks.txt
Due: lint, types

Add a sitemap.xml
  src/app/rss.xml/route.ts
  src/app/sitemap.xml/route.ts
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@d5c994c2f37ef94a19af24c2931a6250ee645e2f 🚀
  404.html
  _next/static/330IH21htjbt06EAjoqNU/_buildManifest.js
  _next/static/330IH21htjbt06EAjoqNU/_ssgManifest.js
  _next/static/chunks/main-b620ed4c0750bfc0.js
  _next/static/chunks/main-c25453579ea275ed.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  rss.xml
  sitemap.xml
  talks.html
  talks.txt
Due: lint, types

Add metadataBase
  src/app/layout.tsx
Due: lint

Add preview only mode to the sandbox
  src/components/Playground/index.tsx
  src/components/Playground/styles.module.css
  src/posts/002-how-to-write-a-minimal-code-editor/page.md
Due: lint, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@a9368d6fbeddd6e2790a7d33288a2e4dec4a9b7c 🚀
  404.html
  _next/static/chunks/app/page-9b2cb9f06909e89f.js
  _next/static/chunks/app/page-efe002931fc83be0.js
  _next/static/chunks/app/posts/[id]/page-490a688c66b6e34d.js
  _next/static/chunks/app/posts/[id]/page-edb62057df4ca6dd.js
  _next/static/chunks/webpack-5410a7714b338df3.js
  _next/static/chunks/webpack-ad75ae914b948229.js
  _next/static/css/19978e527d5e5a2c.css
  _next/static/css/797d1856b8de3578.css
  _next/static/css/8a2ffa1ffd914a57.css
  _next/static/css/988b9f55fe80af9f.css
  _next/static/feLFM0_mWcY3mkyhmQn0X/_buildManifest.js
  _next/static/feLFM0_mWcY3mkyhmQn0X/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  talks.html
  talks.txt
Due: lint, types

fix: use antialiased text on retina screens only
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@fb81ad6617aba0c4774315d0a426ac118e340d04 🚀
  404.html
  _next/static/Xe4XqCCeVlW4nfyuEbXMK/_buildManifest.js
  _next/static/Xe4XqCCeVlW4nfyuEbXMK/_ssgManifest.js
  _next/static/chunks/app/layout-b65697109d648ad2.js
  _next/static/chunks/webpack-ad75ae914b948229.js
  _next/static/chunks/webpack-e448302d4ce216af.js
  _next/static/css/374588018a06e257.css
  _next/static/css/725eb97950280e08.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  talks.html
  talks.txt
Due: lint, types

Add article for stacking context
  src/app/globals.css
  src/components/Playground/styles.module.css
  src/posts/003-stacking-context-in-css/layers.svg
  src/posts/003-stacking-context-in-css/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@dc7c3bf06e5cf32131d51980cd0c8eb92177025b 🚀
  404.html
  _next/static/chunks/app/layout-30998a13ecb8aaad.js
  _next/static/chunks/app/page-2ab7ccc1096dfe18.js
  _next/static/chunks/app/page-efe002931fc83be0.js
  _next/static/chunks/app/posts/[id]/page-490a688c66b6e34d.js
  _next/static/chunks/app/posts/[id]/page-babf12a524a3861e.js
  _next/static/chunks/webpack-4e49d35564825ff2.js
  _next/static/chunks/webpack-e448302d4ce216af.js
  _next/static/css/19978e527d5e5a2c.css
  _next/static/css/4c28451719fca555.css
  _next/static/css/5403e25d89a8c3d6.css
  _next/static/css/725eb97950280e08.css
  _next/static/css/988b9f55fe80af9f.css
  _next/static/css/fe3c8f1e5f9a0be6.css
  _next/static/media/layers.93aceb70.svg
  _next/static/pU1SrCs10kc8kcSm6Fa1d/_buildManifest.js
  _next/static/pU1SrCs10kc8kcSm6Fa1d/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  sitemap.xml
  talks.html
  talks.txt
Due: lint, types

Update title of the article
  src/posts/003-stacking-context-in-css/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@a7acf2bf90a33911237be25be64a962041b319a0 🚀
  404.html
  _next/static/gWhZaiCozk9LlWhPUAxA-/_buildManifest.js
  _next/static/gWhZaiCozk9LlWhPUAxA-/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  talks.html
  talks.txt
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
