Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx, tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@105075202f09e0f41a6cd48e9dcba63ac3dc9c40 🚀
  404.html
  _next/static/vGK4kc5vxcv68OnbUcqh2/_buildManifest.js
  _next/static/vGK4kc5vxcv68OnbUcqh2/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@037d8848b7511ddecd418c2cf5ab1f9542473d46 🚀
  404.html
  _next/static/ye9DUsAz8xg-FMPMRz8y0/_buildManifest.js
  _next/static/ye9DUsAz8xg-FMPMRz8y0/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add summarry of keybindings
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Don't cover more than necessary with copy button spacing
  src/components/Pre/styles.module.css
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

Add RSS link to head
  src/app/layout.tsx
Due: lint

Use latest nodejs
  .nvmrc
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@7d3363ee49ef70bc25f7f336619e923e2e27a2f9 🚀
  404.html
  _next/static/AMOdPBt4YAuEuaMH0ooYq/_buildManifest.js
  _next/static/AMOdPBt4YAuEuaMH0ooYq/_ssgManifest.js
  _next/static/chunks/app/layout-7f775640ff0aa0bc.js
  _next/static/chunks/app/layout-8b04c05a98c54ab1.js
  _next/static/css/545caf88f9da2ee9.css
  _next/static/css/cc1e03c09c7790d5.css
  _next/static/media/12c9b7160831a5aa-s.woff2
  _next/static/media/162938472036e0a8-s.woff2
  _next/static/media/39969fcf98a3026e-s.woff2
  _next/static/media/461799daff61149a-s.p.woff2
  _next/static/media/663b5b56829baa06-s.p.woff2
  _next/static/media/b880b66f5d33f59a-s.woff2
  _next/static/media/cce080f35d014443-s.woff2
  _next/static/media/f1df658da56627d0-s.woff2
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Update keybindings for Copy & Paste
  src/posts/006-macos-like-shortcuts-in-hyprland/page.md
Due: markdown

Tweak details styling
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@42767e3dc77fde2f2c18b9ec89d58b3d1a06b96b 🚀
  404.html
  _next/static/css/545caf88f9da2ee9.css
  _next/static/css/b085938cb8d606de.css
  _next/static/lzC6nb_2IdE4d077rHt4h/_buildManifest.js
  _next/static/lzC6nb_2IdE4d077rHt4h/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Update automated release guide with trusted publishing
  src/app/globals.css
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@773e530a48b3f23aed2eae17049bd61ea1aa0c42 🚀
  404.html
  _next/static/7eefOlEggIEND2ha_R1-R/_buildManifest.js
  _next/static/7eefOlEggIEND2ha_R1-R/_ssgManifest.js
  _next/static/chunks/webpack-10f62530bfb9d527.js
  _next/static/chunks/webpack-2ff6881d1f06c455.js
  _next/static/css/8bbfcced99d0dc45.css
  _next/static/css/b085938cb8d606de.css
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix incorrect details tag
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@407e204a4a3fde1de19fc381847aa1fd83c895c9 🚀
  404.html
  _next/static/WQiUHLTlGk2joGnhYwM0P/_buildManifest.js
  _next/static/WQiUHLTlGk2joGnhYwM0P/_ssgManifest.js
  _next/static/chunks/webpack-10f62530bfb9d527.js
  _next/static/chunks/webpack-2ff6881d1f06c455.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@407e204a4a3fde1de19fc381847aa1fd83c895c9 🚀
  404.html
  _next/static/z3hgCcxazyXUUaTuhZpAR/_buildManifest.js
  _next/static/z3hgCcxazyXUUaTuhZpAR/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/macos-like-shortcuts-in-hyprland.html
  posts/macos-like-shortcuts-in-hyprland.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Upgrade dependencies
  eslint.config.mjs
  mdx-components.tsx
  next-env.d.ts
  next.config.mjs
  package.json
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/page.tsx
  src/app/posts/[id]/opengraph-image.tsx
  src/app/posts/[id]/page.tsx
  src/app/sitemap.ts
  src/app/talks/page.tsx
  src/components/CopyButton/index.tsx
  src/components/Footer/index.tsx
  src/components/NavBar/index.tsx
  src/components/Playground/index.tsx
  src/components/Pre/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SocialLinks/index.tsx
  src/components/TableOfContent/index.tsx
  src/components/ThemeSwitcher/index.tsx
  tsconfig.json
  yarn.lock
Due: lint, types

Upgrade dependencies
  next-env.d.ts
  package.json
  yarn.lock
Due: lint, types

Commit next-env.d.ts so typecheck works on CI
  .gitignore
  next-env.d.ts
Due: lint, types

Tweak styling
  lefthook.yml
  src/app/globals.css
  src/app/page.module.css
  src/app/page.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.module.css
  src/components/Playground/styles.module.css
  src/components/Pre/styles.module.css
  src/components/TableOfContent/styles.module.css
Due: lint

Add auto toggle for themse switcher
  src/components/ThemeSwitcher/index.tsx
  src/components/ThemeSwitcher/styles.module.css
Due: lint

Add icons to socials
  src/app/about/page.module.css
  src/app/about/page.tsx
Due: lint

Arrange social icons in a grid
  src/app/about/page.module.css
Due: none

Add note about publishing new package for automated releases
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Update automated publish article with security considerations
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown

Update automated publishing article with environments
  src/posts/001-automated-release-on-github-actions/page.md
Due: markdown
