Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Add API route for posts data
  package.json
  src/app/data.json/route.ts
  yarn.lock
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@b6bfb5bab8cf1db1d353998dbdc277775b19b4fc 🚀
  404.html
  _next/static/Syjh48RD626ENL9aV-Bhv/_buildManifest.js
  _next/static/Syjh48RD626ENL9aV-Bhv/_ssgManifest.js
  _next/static/chunks/app/layout-248d866a3f57725c.js
  _next/static/chunks/app/layout-943f7369890c0779.js
  _next/static/chunks/app/page-7a0b4dc82f0f7bb2.js
  _next/static/chunks/app/page-845ffd60978f4242.js
  _next/static/chunks/webpack-d0dedfb6268c1fef.js
  _next/static/chunks/webpack-f8488d2145f2edfc.js
  _next/static/css/10b714d3f22271c9.css
  _next/static/css/690237afda606419.css
  _next/static/css/a9835b720da4b43e.css
  _next/static/css/d8f24c550b8729fa.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add a search input
  package.json
  src/app/globals.css
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.module.css
  src/components/Playground/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.module.css
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.module.css
  yarn.lock
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@b3b48d041ddbc51f9ee2383b6bc74de9cecccdca 🚀
  404.html
  _next/static/chunks/630-f2c104aeefed6cf3.js
  _next/static/chunks/app/layout-943f7369890c0779.js
  _next/static/chunks/app/layout-f4c84076982133f5.js
  _next/static/chunks/app/page-177dc2fadefdbd75.js
  _next/static/chunks/app/posts/[id]/page-81ef5d2ca4a95540.js
  _next/static/chunks/main-90df7db0555cf261.js
  _next/static/chunks/main-e26a5b1da132e138.js
  _next/static/chunks/webpack-2e1c95a7afcd5abd.js
  _next/static/chunks/webpack-d0dedfb6268c1fef.js
  _next/static/css/a9835b720da4b43e.css
  _next/static/css/c7826274173959d7.css
  _next/static/p0SOwfTYOtOG0EZKVql_w/_buildManifest.js
  _next/static/p0SOwfTYOtOG0EZKVql_w/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix TOC max height
  src/components/TableOfContent/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@ea3139fab8e6e4e3490d310257f6f1c2fc5372d4 🚀
  404.html
  _next/static/T9uRXFmrCwv8Ah4ShbirW/_buildManifest.js
  _next/static/T9uRXFmrCwv8Ah4ShbirW/_ssgManifest.js
  _next/static/css/10b714d3f22271c9.css
  _next/static/css/de1d31d9471f69e9.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Increase spacing between icons
  src/components/NavBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@44566f4f552421c3a0eca2853cf933ab83479089 🚀
  404.html
  _next/static/6pt9xiGjjfuYuDFcvNJz2/_buildManifest.js
  _next/static/6pt9xiGjjfuYuDFcvNJz2/_ssgManifest.js
  _next/static/css/c7826274173959d7.css
  _next/static/css/dd4f1674bbc33c2e.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Override outline color globally
  src/app/globals.css
  src/components/SearchBar/styles.module.css
  src/components/ThemeSwitcher/styles.module.css
Due: none

Add variables based on theme
  src/app/globals.css
  src/components/SearchBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@cf2faea04e10a5ff8e6ba860d1fb28570cedc10e 🚀
  404.html
  _next/static/5lNw0Nl1ntvqFhR8kWdWP/_buildManifest.js
  _next/static/5lNw0Nl1ntvqFhR8kWdWP/_ssgManifest.js
  _next/static/css/4a6b78f3f211bda9.css
  _next/static/css/dd4f1674bbc33c2e.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Update a11y props for searchbar
  src/components/NavBar/index.tsx
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@56e06871df2e628174e7dbed5329a6f07163a291 🚀
  404.html
  _next/static/GW3aQhnSVs4yrMflyhGqt/_buildManifest.js
  _next/static/GW3aQhnSVs4yrMflyhGqt/_ssgManifest.js
  _next/static/chunks/app/layout-a4ddaeb54f52c4e6.js
  _next/static/chunks/app/layout-f4c84076982133f5.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Tweak margins for TOC
  src/components/TableOfContent/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@29b430e073838dfd0e25a6d1584993fc021bbf4a 🚀
  404.html
  _next/static/css/709e32fbdffc72bf.css
  _next/static/css/de1d31d9471f69e9.css
  _next/static/tfXY4-aJKMst2cKJYp9UX/_buildManifest.js
  _next/static/tfXY4-aJKMst2cKJYp9UX/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Highlight all matches for search
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@6e367e308eb42f7612ddf7016811bd2165b66860 🚀
  404.html
  _next/static/chunks/app/layout-a4ddaeb54f52c4e6.js
  _next/static/chunks/app/layout-ad7378ebe557f98a.js
  _next/static/oLtsB8hHtaPsdQL4N8zOl/_buildManifest.js
  _next/static/oLtsB8hHtaPsdQL4N8zOl/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Lazy load orama and search data
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@6d0c3c204e84ce2cfb21fec028f712ec1e07a1b3 🚀
  404.html
  _next/static/G_LF31GXPtr7xKneb2K32/_buildManifest.js
  _next/static/G_LF31GXPtr7xKneb2K32/_ssgManifest.js
  _next/static/chunks/131.52703b7feab82054.js
  _next/static/chunks/327.59a6e89b8e641c7d.js
  _next/static/chunks/534.3d5e3558be58b183.js
  _next/static/chunks/630-f2c104aeefed6cf3.js
  _next/static/chunks/app/layout-5b9745b80d28cbd0.js
  _next/static/chunks/app/layout-ad7378ebe557f98a.js
  _next/static/chunks/webpack-2e1c95a7afcd5abd.js
  _next/static/chunks/webpack-a26e7206586786ba.js
  _next/static/css/2bae2f40c17fd4ac.css
  _next/static/css/4a6b78f3f211bda9.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix search spinner positioning
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.module.css
  src/components/Spinner/styles.module.css
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@90ab8aa475f791d0a083af6d7efcd838e0f17070 🚀
  404.html
  _next/static/chunks/app/layout-5b9745b80d28cbd0.js
  _next/static/chunks/app/layout-8eb394ced5c479fb.js
  _next/static/css/2bae2f40c17fd4ac.css
  _next/static/css/7087c8dc86fd7e15.css
  _next/static/rLMoe_VpSzGGSC6fL9NS5/_buildManifest.js
  _next/static/rLMoe_VpSzGGSC6fL9NS5/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Use keydown to be able prevent default, and for key repeat
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@aad1bd277797dbf3d734c5b657bc1f17bba827b8 🚀
  404.html
  _next/static/UrNUiHSl9fGUeCPoQvas7/_buildManifest.js
  _next/static/UrNUiHSl9fGUeCPoQvas7/_ssgManifest.js
  _next/static/chunks/app/layout-8893452c4669e192.js
  _next/static/chunks/app/layout-8eb394ced5c479fb.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Un-golemify about page description
  src/app/about/page.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@9995e3bff36921aa38cce3e921e991dce10382d7 🚀
  404.html
  _next/static/0qXwabzk-5HIRxzbPX2f-/_buildManifest.js
  _next/static/0qXwabzk-5HIRxzbPX2f-/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add priority to avatar Image
  src/components/NavBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@4d771bb1643b99c65a83f05fcc23aad7fe2c646f 🚀
  404.html
  _next/static/chunks/app/layout-8893452c4669e192.js
  _next/static/chunks/app/layout-f86ce6df05580f72.js
  _next/static/lRdR-eYgreyznAGWT_j_Y/_buildManifest.js
  _next/static/lRdR-eYgreyznAGWT_j_Y/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Remove transition from navbar
  src/app/globals.css
  src/components/NavBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@892b749fadfab87a60f26476f9009bf7d883c52b 🚀
  404.html
  _next/static/_Lwp4mSnAIh6xVmhYFtt9/_buildManifest.js
  _next/static/_Lwp4mSnAIh6xVmhYFtt9/_ssgManifest.js
  _next/static/css/7087c8dc86fd7e15.css
  _next/static/css/8bf1b046f987e210.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix focus outline color in Safari
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@7db299d7c2d1bb0f334acdda4e2508aa7f9d3839 🚀
  404.html
  _next/static/css/24e1a500ebbe53d7.css
  _next/static/css/8bf1b046f987e210.css
  _next/static/mryy3WX5Q1re4tNL84MfC/_buildManifest.js
  _next/static/mryy3WX5Q1re4tNL84MfC/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Tweak search bar styling
  src/components/NavBar/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@c04fa50fc43f3eb78f4410ee23dfaafd4f878a46 🚀
  404.html
  _next/static/EAvlJV3vZIlPlY9WyMO8L/_buildManifest.js
  _next/static/EAvlJV3vZIlPlY9WyMO8L/_ssgManifest.js
  _next/static/css/24e1a500ebbe53d7.css
  _next/static/css/5d38fd6d6ea22642.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Boost title and description for searches
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@d8dd0f766b62cf99489e53bfe709af73c3682ed6 🚀
  404.html
  _next/static/EtXC0itemYEbxPtFwgys1/_buildManifest.js
  _next/static/EtXC0itemYEbxPtFwgys1/_ssgManifest.js
  _next/static/chunks/app/layout-227bcdac3496e85d.js
  _next/static/chunks/app/layout-f86ce6df05580f72.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Manually highlight query if no position is found for match
  src/components/SearchBar/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@2b6510ce0e98760f71acbe951d813c1c1ebd9a87 🚀
  404.html
  _next/static/awlySnu67-AyvJ_A_RGpW/_buildManifest.js
  _next/static/awlySnu67-AyvJ_A_RGpW/_ssgManifest.js
  _next/static/chunks/app/layout-227bcdac3496e85d.js
  _next/static/chunks/app/layout-b4de6527c1a2e4d6.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Don't compare description and content hits length for consistent result
  src/components/SearchBar/index.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
