Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@e01ece3de5e1377c95e7d8710de6423ae17f626c 🚀
  .nojekyll
  404.html
  _next/static/3fSFMxpwQ1QW0ekbtiaoa/_buildManifest.js
  _next/static/3fSFMxpwQ1QW0ekbtiaoa/_ssgManifest.js
  _next/static/chunks/176-d1aab7d240d7bdd9.js
  _next/static/chunks/framework-bbecb7d54330d002.js
  _next/static/chunks/main-fdc9a11603fb55e2.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/_app-c54702eb327175a3.js
  _next/static/chunks/pages/_error-56a1a2eec59e6cbd.js
  _next/static/chunks/pages/index-be6a796d718fcc9a.js
  _next/static/chunks/pages/posts-ed8fcd9f43e9bc34.js
  _next/static/chunks/polyfills-c67a75d1b6f99dc8.js
  _next/static/chunks/webpack-87f1f7ddfc554c0f.js
  _next/static/css/a0de50ea0cc40a66.css
  index.html
  posts.html
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@cbf47703d53db88239d7b0591e40e9583dec6b92 🚀
  404.html
  _next/static/uEGEJxtM_XCENLuU_tZHt/_buildManifest.js
  _next/static/uEGEJxtM_XCENLuU_tZHt/_ssgManifest.js
  index.html
  posts.html
Due: lint, types

Create CNAME
  CNAME
Due: none

add post on automated releases with release-it
  pages/posts/automated-release-on-github-actions.md
Due: markdown

Delete CNAME
  CNAME
Due: none

Fix deployment
  next.config.js
Due: lint, types

Show list of posts on the homepage
  pages/about.md
  pages/index.md
  pages/posts/index.md
Due: markdown

Fix deploy workflow
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@0cd6cdc01328f725d5b206dca7e9199867f3b376 🚀
  404.html
  _next/static/chunks/176-ab2f1e57cda92ad7.js
  _next/static/chunks/176-d1aab7d240d7bdd9.js
  _next/static/chunks/main-6e8ee6ae7cc0a14c.js
  _next/static/chunks/main-fdc9a11603fb55e2.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/about-7bc7c6b0a040f59a.js
  _next/static/chunks/pages/index-0002668a1740c7ef.js
  _next/static/chunks/pages/index-be6a796d718fcc9a.js
  _next/static/chunks/pages/posts-ed8fcd9f43e9bc34.js
  _next/static/chunks/webpack-445a5fe7cadeec28.js
  _next/static/chunks/webpack-87f1f7ddfc554c0f.js
  _next/static/uEGEJxtM_XCENLuU_tZHt/_buildManifest.js
  _next/static/x9WKFrNNGRRz1_C2KzPyp/_buildManifest.js
  _next/static/x9WKFrNNGRRz1_C2KzPyp/_ssgManifest.js
  about.html
  index.html
  posts.html
Due: lint, types

Add post on automated releases with release-it
  pages/posts/automated-release-on-github-actions.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@a1b489557ce27d8728378085582d0c0414b3c9ce 🚀
  404.html
  _next/static/2cJJQJg42jSPEU6nIBdEg/_buildManifest.js
  _next/static/2cJJQJg42jSPEU6nIBdEg/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/about-7bc7c6b0a040f59a.js
  _next/static/chunks/pages/about-c6d53abb7a8e4a0c.js
  _next/static/chunks/pages/index-0002668a1740c7ef.js
  _next/static/chunks/pages/index-ecca73220e9ffcf1.js
  _next/static/chunks/pages/posts/automated-release-on-github-actions-604b1b9b84171eb3.js
  _next/static/x9WKFrNNGRRz1_C2KzPyp/_buildManifest.js
  about.html
  index.html
  posts/automated-release-on-github-actions.html
Due: lint, types

Update about page
  package.json
  pages/about.md
  src/assets/images/avatar.jpg
  src/components/About/About.module.css
  src/components/About/About.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/posts/automated-release-on-github-actions.md
  src/pages/posts/index.md
  theme.config.jsx
  tsconfig.json
  yarn.lock
Due: lint, types, markdown

Update workflow name
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@4c6a57d306ebe93010e98e3a01efa103be505447 🚀
  404.html
  _next/static/2cJJQJg42jSPEU6nIBdEg/_buildManifest.js
  _next/static/AoeZRtHTs97xNmUWX4aTJ/_buildManifest.js
  _next/static/AoeZRtHTs97xNmUWX4aTJ/_ssgManifest.js
  _next/static/chunks/176-ab2f1e57cda92ad7.js
  _next/static/chunks/512-a3ff5c471bab437b.js
  _next/static/chunks/61-8dd855f6011cdc95.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/_app-87f129fb4847c111.js
  _next/static/chunks/pages/_app-c54702eb327175a3.js
  _next/static/chunks/pages/_error-56a1a2eec59e6cbd.js
  _next/static/chunks/pages/_error-ee5b5fb91d29d86f.js
  _next/static/chunks/pages/about-c6d53abb7a8e4a0c.js
  _next/static/chunks/pages/index-7421d5cc78bc7430.js
  _next/static/chunks/pages/index-ecca73220e9ffcf1.js
  _next/static/chunks/pages/posts-1d8bf62e85d7f8d6.js
  _next/static/chunks/pages/posts/automated-release-on-github-actions-604b1b9b84171eb3.js
  _next/static/chunks/pages/posts/automated-release-on-github-actions-e67e406bce3c02af.js
  _next/static/css/ae54c3dce2cdf2ca.css
  _next/static/media/avatar.fe5a60a8.jpg
  about.html
  index.html
  posts.html
  posts/automated-release-on-github-actions.html
Due: lint, types

Add title to about page
  src/pages/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@431144e70c2660fbc0e51fd56241352e7427d8ee 🚀
  404.html
  _next/static/AoeZRtHTs97xNmUWX4aTJ/_buildManifest.js
  _next/static/b3OQLwQgKfblSc4uNaOEV/_buildManifest.js
  _next/static/b3OQLwQgKfblSc4uNaOEV/_ssgManifest.js
  _next/static/chunks/pages/index-7421d5cc78bc7430.js
  _next/static/chunks/pages/index-b2ff446955321815.js
  index.html
  posts.html
  posts/automated-release-on-github-actions.html
Due: lint, types

Use Nextra styles for the about page
  next.config.js
  src/components/About/About.module.css
  src/components/About/About.tsx
  src/pages/_app.mdx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.mdx
  src/pages/index.tsx
  src/pages/tags/[tag].mdx
  theme.config.jsx
  tsconfig.json
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@9babf697fd987d95a7f91b04b17996786fb1df2e 🚀
  404.html
  _next/data/gvcDnqwy13jAl0yNH1g_e/tags/Tooling.json
  _next/static/b3OQLwQgKfblSc4uNaOEV/_buildManifest.js
  _next/static/b3OQLwQgKfblSc4uNaOEV/_ssgManifest.js
  _next/static/chunks/512-a3ff5c471bab437b.js
  _next/static/chunks/61-8dd855f6011cdc95.js
  _next/static/chunks/997-0cb98ab0ccaa9fe6.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/_app-87f129fb4847c111.js
  _next/static/chunks/pages/_app-a099e6ae1f600e47.js
  _next/static/chunks/pages/index-b2ff446955321815.js
  _next/static/chunks/pages/index-f3fcf4a17c6ab3b7.js
  _next/static/chunks/pages/posts-1d8bf62e85d7f8d6.js
  _next/static/chunks/pages/posts-f6f697daed598ee5.js
  _next/static/chunks/pages/posts/automated-release-on-github-actions-764e6910dad03454.js
  _next/static/chunks/pages/posts/automated-release-on-github-actions-e67e406bce3c02af.js
  _next/static/chunks/pages/tags/[tag]-d7c31f355f2d4fb2.js
  _next/static/css/ae54c3dce2cdf2ca.css
  _next/static/css/dec19a9364a85d57.css
  _next/static/gvcDnqwy13jAl0yNH1g_e/_buildManifest.js
  _next/static/gvcDnqwy13jAl0yNH1g_e/_ssgManifest.js
  index.html
  posts.html
  posts/automated-release-on-github-actions.html
  tags/Tooling.html
Due: lint, types

Rework blog to setup nextjs from scratch
  .gitignore
  .markdownlint.json
  .nvmrc
  mdx-components.tsx
  next.config.js
  next.config.mjs
  package.json
  src/app/about/page.module.css
  src/app/about/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/posts/automated-release-on-github-actions/page.md
  src/app/posts/layout.tsx
  src/pages/_app.mdx
  src/pages/index.mdx
  src/pages/posts/index.md
  src/pages/tags/[tag].mdx
  theme.config.jsx
  tsconfig.json
  yarn.lock
Due: lint, types, markdown

ci: fix caching node_modules
  .github/actions/setup/action.yml
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@f6b0287dff40e6b4ef94d3788b748c154e5646c5 🚀
  404.html
  _next/static/zESg1EsfQmdzAnOJcWTBR/_buildManifest.js
  _next/static/zESg1EsfQmdzAnOJcWTBR/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Implement theme switcher
  src/app/about/page.module.css
  src/app/globals.css
  src/app/layout.tsx
  src/components/ThemeSwitcher/index.tsx
  src/components/ThemeSwitcher/styles.module.css
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@950cb5b10bd86fdcfa88cd989089e7a956964740 🚀
  404.html
  _next/static/KzrR2kwf2GH0nn3Za6Tu8/_buildManifest.js
  _next/static/KzrR2kwf2GH0nn3Za6Tu8/_ssgManifest.js
  _next/static/chunks/326-997e68360ddb76c2.js
  _next/static/chunks/413-ba1030a1266f3a3a.js
  _next/static/chunks/472-9c5dd18e27ac175a.js
  _next/static/chunks/app/_not-found-1fad1929ca4fcfe1.js
  _next/static/chunks/app/about/page-5b7ea0e96bbb64cc.js
  _next/static/chunks/app/layout-b6318d9174aa1cb0.js
  _next/static/chunks/app/layout-dae6d3cabcaf532e.js
  _next/static/chunks/fd9d1056-82175686fa1eea00.js
  _next/static/chunks/webpack-a7844356be831acf.js
  _next/static/chunks/webpack-da117e6f2445b3c9.js
  _next/static/css/0ccd5737437778dd.css
  _next/static/css/479ba7326703680f.css
  _next/static/css/865e29064b5c306e.css
  _next/static/css/dc060899ac91a7db.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add metadata for pages
  src/app/about/page.tsx
  src/app/layout.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@5ef0905c6525a86a4558bfbadb5113c2dfb8a2d7 🚀
  404.html
  _next/static/7IiOs8RRcxr8axvRslmA8/_buildManifest.js
  _next/static/7IiOs8RRcxr8axvRslmA8/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Fix theme switching
  src/components/ThemeSwitcher/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@9bf1acd991a5b22abf70a4432eb7983e5355b5a1 🚀
  404.html
  _next/static/9dOUKIcZf4M8wVsHzWsn3/_buildManifest.js
  _next/static/9dOUKIcZf4M8wVsHzWsn3/_ssgManifest.js
  _next/static/chunks/app/layout-50a21d025ba0af75.js
  _next/static/chunks/app/layout-dae6d3cabcaf532e.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add a copy button
  mdx-components.tsx
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/CopyButton/index.tsx
  src/components/CopyButton/styles.module.css
  src/components/Pre/index.tsx
  src/components/Pre/styles.module.css
  src/components/ThemeSwitcher/styles.module.css
  yarn.lock
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@24c7993cc05801fb2fe63b57bf004ec3a6331198 🚀
  404.html
  _next/static/WMdl8-TD4n2eCJsR8GL-F/_buildManifest.js
  _next/static/WMdl8-TD4n2eCJsR8GL-F/_ssgManifest.js
  _next/static/chunks/326-26da42f7b250b7c9.js
  _next/static/chunks/413-d00ccae56af39f6a.js
  _next/static/chunks/472-fac7e2dd78ad86f4.js
  _next/static/chunks/app/_not-found-9bb118e57125e705.js
  _next/static/chunks/app/layout-50a21d025ba0af75.js
  _next/static/chunks/app/layout-6d0a187392abc379.js
  _next/static/chunks/app/posts/automated-release-on-github-actions/page-587ee1035239c873.js
  _next/static/chunks/app/posts/automated-release-on-github-actions/page-7725c2bcc57e400f.js
  _next/static/chunks/app/posts/layout-31d8378c17fd068b.js
  _next/static/chunks/app/posts/layout-c48f7f56f2c63450.js
  _next/static/chunks/fd9d1056-7408c442169d5f2a.js
  _next/static/chunks/webpack-5838233453241a48.js
  _next/static/chunks/webpack-a7844356be831acf.js
  _next/static/css/0ccd5737437778dd.css
  _next/static/css/5895aaa4b3808845.css
  _next/static/css/f2fe92b50bfa6631.css
  _next/static/media/07dbeab371bd23e5-s.woff2
  _next/static/media/351a28414a1c9800-s.woff2
  _next/static/media/4ac4dea9587da449-s.woff2
  _next/static/media/7204ba227f289941-s.p.woff2
  _next/static/media/b9c347b0865b83f5-s.woff2
  _next/static/media/c30f71787fcda0f2-s.woff2
  _next/static/media/c6908836934a19a7-s.p.woff2
  _next/static/media/d7876bf0158c06b0-s.woff2
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Fix Safari making text sizes too big
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@59352fdd064845baf6207adb4978b0d057c41bcc 🚀
  404.html
  _next/static/chunks/app/layout-1867d37757d54c3e.js
  _next/static/chunks/app/layout-6d0a187392abc379.js
  _next/static/chunks/webpack-5838233453241a48.js
  _next/static/chunks/webpack-59967329ba079af6.js
  _next/static/css/af86a6ed0529e9c4.css
  _next/static/css/f2fe92b50bfa6631.css
  _next/static/j5zDW_cwqlinXgTfGwTwJ/_buildManifest.js
  _next/static/j5zDW_cwqlinXgTfGwTwJ/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Fix theme switcher icon on mobile Safari
  src/components/ThemeSwitcher/index.tsx
  src/components/ThemeSwitcher/styles.module.css
Due: lint

Remove tap highlight on mobile Safari
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@e14962d9164ee5ad29cc4190b6c9b811915c75c9 🚀
  404.html
  _next/static/42R1mwz4LGkpUtuS_1jh8/_buildManifest.js
  _next/static/42R1mwz4LGkpUtuS_1jh8/_ssgManifest.js
  _next/static/chunks/app/layout-14b1150d85025394.js
  _next/static/chunks/app/layout-1867d37757d54c3e.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@970582bf097576a618f128684c973bad4b0e71a3 🚀
  404.html
  _next/static/SyI-w78p5NIrk0w0PXOmk/_buildManifest.js
  _next/static/SyI-w78p5NIrk0w0PXOmk/_ssgManifest.js
  _next/static/chunks/app/about/page-22e0c717819dd042.js
  _next/static/chunks/app/layout-ea6b0e1803781756.js
  _next/static/chunks/app/page-a916589776f510d5.js
  _next/static/chunks/webpack-59967329ba079af6.js
  _next/static/chunks/webpack-91cb33e2994fb168.js
  _next/static/css/0e3f41e627ff9bc5.css
  _next/static/css/13cfd42ae8a86edc.css
  _next/static/css/45430a9b0d7b8888.css
  _next/static/css/af86a6ed0529e9c4.css
  _next/static/css/dc060899ac91a7db.css
  _next/static/css/df1a8683e4b5f83e.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@a0e896cf1e4998a4131a49ff1964feab7fb15e14 🚀
  404.html
  _next/static/5bY5VW2IvhNaKFxJjL9YK/_buildManifest.js
  _next/static/5bY5VW2IvhNaKFxJjL9YK/_ssgManifest.js
  _next/static/chunks/app/about/page-7f8124d89e4e5450.js
  _next/static/chunks/webpack-798db37c6642cde2.js
  _next/static/chunks/webpack-91cb33e2994fb168.js
  _next/static/css/dd1819b11349135b.css
  _next/static/css/df1a8683e4b5f83e.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Tweak styling
  package.json
  src/app/about/page.module.css
  src/app/globals.css
  src/app/page.module.css
  src/components/ThemeSwitcher/styles.module.css
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
