Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@561e72ca876647596c1e85c992ce363769bb8fc3 🚀
  404.html
  _next/static/UDqJIc-8zMvnyI8MHcT6L/_buildManifest.js
  _next/static/UDqJIc-8zMvnyI8MHcT6L/_ssgManifest.js
  _next/static/chunks/app/layout-1788563cc182fcab.js
  _next/static/chunks/webpack-464e2c71b9597cc0.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add social links
  .env
  src/app/globals.css
  src/app/layout.tsx
  src/app/posts/layout.tsx
  src/components/SocialLinks/index.tsx
  src/components/SocialLinks/styles.module.css
  src/components/ThemeSwitcher/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@71df459a9933fb3cb106d4b6d1bc08c84459a38b 🚀
  404.html
  _next/static/KcQLLVYgH0xA2gtjX0gK9/_buildManifest.js
  _next/static/KcQLLVYgH0xA2gtjX0gK9/_ssgManifest.js
  _next/static/chunks/app/layout-1788563cc182fcab.js
  _next/static/chunks/app/layout-9aa0cb78b345720b.js
  _next/static/chunks/app/posts/layout-31d8378c17fd068b.js
  _next/static/chunks/app/posts/layout-f4f78047656e16bb.js
  _next/static/chunks/webpack-317860eef1cd6ff8.js
  _next/static/chunks/webpack-464e2c71b9597cc0.js
  _next/static/css/45430a9b0d7b8888.css
  _next/static/css/a402812b93ba038d.css
  _next/static/css/df656c34f2b071f4.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Fix handling code block title
  next.config.mjs
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/posts/automated-release-on-github-actions/page.md
  yarn.lock
Due: lint, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@176a766384bdc2e2d36203729be45c82117be1be 🚀
  404.html
  _next/static/chunks/app/layout-3059ff7f9f4d75c0.js
  _next/static/chunks/app/layout-9aa0cb78b345720b.js
  _next/static/chunks/webpack-317860eef1cd6ff8.js
  _next/static/chunks/webpack-7e6e645de238cbbe.js
  _next/static/css/a402812b93ba038d.css
  _next/static/css/f5913df3e3dcf0f6.css
  _next/static/m2L10hrwZU7tmb8qGekPM/_buildManifest.js
  _next/static/m2L10hrwZU7tmb8qGekPM/_ssgManifest.js
  _next/static/media/5cc3c54ef40a8318-s.woff2
  _next/static/media/677df8436fa62dab-s.woff2
  _next/static/media/b52c96007c0e4194-s.woff2
  _next/static/media/bf360f1aff2dd67f-s.woff2
  _next/static/media/df99695897be762b-s.p.woff2
  _next/static/media/e071340eb8076c95-s.woff2
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Make the headings linkable
  next.config.mjs
  package.json
  src/app/globals.css
  yarn.lock
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@74f300a42aeeb7fe0b74f1ab7d0aa3304489c114 🚀
  404.html
  _next/static/chunks/app/layout-acd466f44f0d3d8c.js
  _next/static/chunks/webpack-7e6e645de238cbbe.js
  _next/static/chunks/webpack-84f853382e114374.js
  _next/static/css/4052e1cf238aa171.css
  _next/static/css/f5913df3e3dcf0f6.css
  _next/static/eGzXMgFHU9_1TC-QINGcm/_buildManifest.js
  _next/static/eGzXMgFHU9_1TC-QINGcm/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add color-scheme to html based on the theme
  src/app/globals.css
  src/components/ThemeSwitcher/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@7010abdf1da0fe83e5e47cc971b06628c4f3f6b7 🚀
  404.html
  _next/static/HKX26M1g-pi7cwgYzIqZ4/_buildManifest.js
  _next/static/HKX26M1g-pi7cwgYzIqZ4/_ssgManifest.js
  _next/static/chunks/app/layout-68ca9283c2c69c49.js
  _next/static/chunks/webpack-6e26024bcb67794b.js
  _next/static/chunks/webpack-84f853382e114374.js
  _next/static/css/4052e1cf238aa171.css
  _next/static/css/8bba3c0e778cff34.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Rework how post metadata is read
  .markdownlint.json
  next.config.mjs
  package.json
  src/app/page.tsx
  src/app/posts/[id]/page.tsx
  src/app/posts/layout.tsx
  src/posts/_all.ts
  src/posts/automated-release-on-github-actions.md
  yarn.lock
Due: lint, types, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@5c80bb82c02f96aab8172220306b5a3aeaf860ba 🚀
  404.html
  _next/static/Ecv_QttkzoIr379Uzdqej/_buildManifest.js
  _next/static/Ecv_QttkzoIr379Uzdqej/_ssgManifest.js
  _next/static/HKX26M1g-pi7cwgYzIqZ4/_ssgManifest.js
  _next/static/chunks/122-847cc1f949cebb26.js
  _next/static/chunks/326-26da42f7b250b7c9.js
  _next/static/chunks/app/layout-68ca9283c2c69c49.js
  _next/static/chunks/app/layout-bc85f5c8d9d23750.js
  _next/static/chunks/app/page-a916589776f510d5.js
  _next/static/chunks/app/page-de997c5fb09c3578.js
  _next/static/chunks/app/posts/[id]/page-0ebfd8eb355c3034.js
  _next/static/chunks/app/posts/automated-release-on-github-actions/page-7725c2bcc57e400f.js
  _next/static/chunks/app/posts/layout-f4f78047656e16bb.js
  _next/static/chunks/main-73bad114f0df7730.js
  _next/static/chunks/main-9eff3f3b6deb3fe3.js
  _next/static/chunks/webpack-6e26024bcb67794b.js
  _next/static/chunks/webpack-af1071e2fda87c43.js
  _next/static/css/13cfd42ae8a86edc.css
  _next/static/css/5895aaa4b3808845.css
  _next/static/css/7473b65953001eb9.css
  _next/static/css/8bba3c0e778cff34.css
  _next/static/css/df656c34f2b071f4.css
  _next/static/css/f3b8e62f334f152c.css
  _next/static/css/f8116e81e1a3033c.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@8f514c426b61e6ea91a045d4f10a4ba82975546f 🚀
  404.html
  _next/static/chunks/app/layout-1a0cf07b86775797.js
  _next/static/chunks/webpack-af1071e2fda87c43.js
  _next/static/chunks/webpack-e6752cdb7ad619c6.js
  _next/static/css/8bba3c0e778cff34.css
  _next/static/css/f3b8e62f334f152c.css
  _next/static/mACOOpaFmyEYXWcuScafB/_buildManifest.js
  _next/static/mACOOpaFmyEYXWcuScafB/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Fix grammar
  src/posts/automated-release-on-github-actions.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@d6b5874c19c1987ce22ea01293df85f6f488316d 🚀
  404.html
  _next/static/KE1_w_LqlbLfVzRwNATgT/_buildManifest.js
  _next/static/KE1_w_LqlbLfVzRwNATgT/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add date and reading time to posts
  next.config.mjs
  package.json
  src/app/page.module.css
  src/app/page.tsx
  src/app/posts/[id]/page.tsx
  src/components/PostMeta/index.tsx
  src/components/PostMeta/styles.module.css
  src/posts/_all.ts
  src/posts/automated-release-on-github-actions.md
  yarn.lock
Due: lint, types, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@f1fd6d49108032bc969d84dffe6cad159a3b6325 🚀
  404.html
  _next/static/-4GQHbaxGMYQF5mr_LWbB/_buildManifest.js
  _next/static/-4GQHbaxGMYQF5mr_LWbB/_ssgManifest.js
  _next/static/chunks/app/page-0633c886d2cfc434.js
  _next/static/chunks/app/page-de997c5fb09c3578.js
  _next/static/chunks/app/posts/[id]/page-0ebfd8eb355c3034.js
  _next/static/chunks/app/posts/[id]/page-670e3c31c710b866.js
  _next/static/chunks/webpack-c2dd0b2aa1683a3f.js
  _next/static/chunks/webpack-e6752cdb7ad619c6.js
  _next/static/css/7473b65953001eb9.css
  _next/static/css/99d4b94b77210841.css
  _next/static/css/9d38da2efdaf8627.css
  _next/static/css/f8116e81e1a3033c.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Sort posts
  src/posts/_all.ts
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@4645db233e0b57762037a1fa1ebf89f2ea7b678f 🚀
  404.html
  _next/static/miQFMYRz29ZcTGwHuU06u/_buildManifest.js
  _next/static/miQFMYRz29ZcTGwHuU06u/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add configuration for VSCode
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Make loading posts lazy
  src/app/page.tsx
  src/app/posts/[id]/page.tsx
  src/components/PostMeta/index.tsx
  src/posts/001-automated-release-on-github-actions.md
  src/posts/_all.ts
Due: lint, types, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@e73522c5657c274483c3eab81554cfece7f662f8 🚀
  404.html
  _next/static/y0iury8hFsv7iQmngGW3X/_buildManifest.js
  _next/static/y0iury8hFsv7iQmngGW3X/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add suffix to blog title
  src/app/about/page.tsx
  src/app/layout.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@83251e5382ba5015291d9f9a2413bab803d39cc8 🚀
  404.html
  _next/static/CRluM7wBGJ1SB2FBVBJDq/_buildManifest.js
  _next/static/CRluM7wBGJ1SB2FBVBJDq/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Make code blocks edge to edge on smaller screens
  src/app/globals.css
  src/components/CopyButton/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@e1bf7a25da415af57bb51a42f1e4bac07d4617a6 🚀
  404.html
  _next/static/H1KS42hkg4UQens3X30ho/_buildManifest.js
  _next/static/H1KS42hkg4UQens3X30ho/_ssgManifest.js
  _next/static/chunks/app/layout-b4da2a2f791597e5.js
  _next/static/chunks/app/page-92a59cd99731c7fc.js
  _next/static/chunks/app/posts/[id]/page-73edd7184b7069f8.js
  _next/static/chunks/webpack-c2dd0b2aa1683a3f.js
  _next/static/chunks/webpack-ce0f367c7a47cc13.js
  _next/static/css/2a8343fe704061c5.css
  _next/static/css/65c2bc6818c33aa7.css
  _next/static/css/8bba3c0e778cff34.css
  _next/static/css/99d4b94b77210841.css
  _next/static/css/9d38da2efdaf8627.css
  _next/static/css/db846f8888a76d58.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@5cd36159778739be6f4ee84e71d74224ceffb404 🚀
  404.html
  _next/static/KsRVy_3j1U-gGmzTAS881/_buildManifest.js
  _next/static/KsRVy_3j1U-gGmzTAS881/_ssgManifest.js
  _next/static/chunks/main-9eff3f3b6deb3fe3.js
  _next/static/chunks/main-fa9e3486b6668f3e.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  rss.xml
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@3056aa2849d70ca742424648e56b74271aa7d4be 🚀
  404.html
  _next/static/Dj2cUgA82_YjGMnhOkt2N/_buildManifest.js
  _next/static/Dj2cUgA82_YjGMnhOkt2N/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  rss.xml
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@e0fa9abe600a07b37a40536fae84cbfbb8a18b2e 🚀
  404.html
  _next/static/QVANZzsq1NcPLaq3p_91k/_buildManifest.js
  _next/static/QVANZzsq1NcPLaq3p_91k/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  rss.xml
Due: lint, types

Add RSS feed
  src/app/layout.tsx
  src/app/rss.xml/route.ts
  src/metadata.json
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@6c1bcc9a53dc9507c580a9c858412ee0b6ee648d 🚀
  404.html
  _next/static/cxRGSA8ylnoZx53Ax8yXg/_buildManifest.js
  _next/static/cxRGSA8ylnoZx53Ax8yXg/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  rss.xml
Due: lint, types

Fix a11y issues
  src/app/globals.css
  src/components/ThemeSwitcher/index.tsx
  src/posts/001-automated-release-on-github-actions.md
Due: lint, markdown

Deploying to gh-pages from @ satya164/satya164.github.io@f2a6fd95e3c922446abe6168cf939e4478d7430d 🚀
  404.html
  _next/static/9bKoXph-GlDKVwAFRu_Ql/_buildManifest.js
  _next/static/9bKoXph-GlDKVwAFRu_Ql/_ssgManifest.js
  _next/static/chunks/app/layout-8cc8978a5ad6fdf3.js
  _next/static/chunks/app/layout-b4da2a2f791597e5.js
  _next/static/chunks/webpack-ce0f367c7a47cc13.js
  _next/static/chunks/webpack-d77eea0a3a64c1ce.js
  _next/static/css/689854ea623b619b.css
  _next/static/css/db846f8888a76d58.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Mark active item in navbar
  src/app/about/page.module.css
  src/app/globals.css
  src/app/layout.tsx
  src/components/CopyButton/styles.module.css
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.module.css
  src/components/ThemeSwitcher/index.tsx
  src/components/ThemeSwitcher/styles.module.css
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@d04762e6a19bc2e4f7af71188602a2d349f1193d 🚀
  404.html
  _next/static/R64_uYWC6zujUfXzR8la-/_buildManifest.js
  _next/static/R64_uYWC6zujUfXzR8la-/_ssgManifest.js
  _next/static/chunks/122-847cc1f949cebb26.js
  _next/static/chunks/674-536ec6060786175e.js
  _next/static/chunks/app/about/page-d2ba7e12f2300659.js
  _next/static/chunks/app/layout-8cc8978a5ad6fdf3.js
  _next/static/chunks/app/layout-8eb51460c61deb43.js
  _next/static/chunks/app/page-89afbdfc507e9395.js
  _next/static/chunks/app/page-92a59cd99731c7fc.js
  _next/static/chunks/app/posts/[id]/page-59e2a5179b16d87e.js
  _next/static/chunks/app/posts/[id]/page-73edd7184b7069f8.js
  _next/static/chunks/webpack-62b44f0603be2ac6.js
  _next/static/chunks/webpack-d77eea0a3a64c1ce.js
  _next/static/css/2a8343fe704061c5.css
  _next/static/css/3be2cfecaf934ce0.css
  _next/static/css/5fe427fa971e7abd.css
  _next/static/css/65c2bc6818c33aa7.css
  _next/static/css/689854ea623b619b.css
  _next/static/css/76279fc5c42baa6c.css
  _next/static/css/977a4ec834a27d6c.css
  _next/static/css/dd1819b11349135b.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Add lint and typecheck to CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@7390917aaedfe0053c7576cd61ed4107b7ff6a5a 🚀
  404.html
  _next/static/OXqdJ3GMUc938vLsNm9SX/_buildManifest.js
  _next/static/OXqdJ3GMUc938vLsNm9SX/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@e08dc782f290803d7a5523f05e4f7b6fb418f68b 🚀
  404.html
  _next/static/_VD4kAhGMcj0SE1mYLbPF/_buildManifest.js
  _next/static/_VD4kAhGMcj0SE1mYLbPF/_ssgManifest.js
  _next/static/chunks/app/layout-8eb51460c61deb43.js
  _next/static/chunks/app/layout-c1fd8ff935a988c7.js
  _next/static/chunks/webpack-57564579a47c9c72.js
  _next/static/chunks/webpack-62b44f0603be2ac6.js
  _next/static/css/5fe427fa971e7abd.css
  _next/static/css/f89778ee9686bbb1.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@e08dc782f290803d7a5523f05e4f7b6fb418f68b 🚀
  404.html
  _next/static/ulrc0yQQvZeBd1yS_OXSP/_buildManifest.js
  _next/static/ulrc0yQQvZeBd1yS_OXSP/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
Due: lint, types

Faster animations
  src/app/about/page.module.css
  src/app/globals.css
  src/components/CopyButton/styles.module.css
  src/components/NavBar/styles.module.css
  src/components/ThemeSwitcher/styles.module.css
Due: none

Tweak link underlines
  src/app/globals.css
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
