Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ satya164/satya164.github.io@739b8d5416eb0d4725b67086b6b54de439b6e55a 🚀
  404.html
  _next/static/0sY7osIKUd_QqYjRlaom9/_buildManifest.js
  _next/static/0sY7osIKUd_QqYjRlaom9/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@739b8d5416eb0d4725b67086b6b54de439b6e55a 🚀
  404.html
  _next/static/2eFD9HaC2k9tXy-bbtqXU/_buildManifest.js
  _next/static/2eFD9HaC2k9tXy-bbtqXU/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@739b8d5416eb0d4725b67086b6b54de439b6e55a 🚀
  404.html
  _next/static/xaAWEQoPIwlO_LlIWSjqg/_buildManifest.js
  _next/static/xaAWEQoPIwlO_LlIWSjqg/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Support video tags in markdown
  .markdownlint.json
  next.config.mjs
  package.json
  src/app/globals.css
  yarn.lock
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@d698c1976839eab4ce4fb04ef3429c3238f0c20a 🚀
  404.html
  _next/static/Kx-t22ZDQL_LmNKeUpwNl/_buildManifest.js
  _next/static/Kx-t22ZDQL_LmNKeUpwNl/_ssgManifest.js
  _next/static/css/45f2adcbcb11f1b7.css
  _next/static/css/c7f152e50be32c48.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@553701ef679f5b351b68aaefad65b5223efc87fa 🚀
  404.html
  _next/static/chunks/app/page-177dc2fadefdbd75.js
  _next/static/chunks/app/page-2372734ba39a4cae.js
  _next/static/chunks/app/posts/[id]/page-07e623312c00593d.js
  _next/static/chunks/app/posts/[id]/page-315b1d1af8182cf0.js
  _next/static/media/autosuggestions.cce95d8c.mp4
  _next/static/media/completions.04a9b0bf.mp4
  _next/static/media/fzf-tab.e33cb5c2.mp4
  _next/static/media/spaceship-prompt.5877296e.png
  _next/static/media/substring-search.c1d93815.mp4
  _next/static/media/syntax-highlighting.d76bd3a2.mp4
  _next/static/rvB7i0dy9RhaJ79uIGKF8/_buildManifest.js
  _next/static/rvB7i0dy9RhaJ79uIGKF8/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  sitemap.xml
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@8be8f4b99a26162d6fc03060bdadc1f4d3d034b7 🚀
  404.html
  _next/static/YmgfIe96I_A4D5O-98D1g/_buildManifest.js
  _next/static/YmgfIe96I_A4D5O-98D1g/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@54b8e13f72dcf283acb2ff16e83918173bcbb57a 🚀
  404.html
  _next/static/4fd_bFph32LnN5CSL7fiI/_buildManifest.js
  _next/static/4fd_bFph32LnN5CSL7fiI/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@25ac6d3ffac1e0e3f88f4c078e15425e01640645 🚀
  404.html
  _next/static/OS9ODs4GttSh1cY6xW30I/_buildManifest.js
  _next/static/OS9ODs4GttSh1cY6xW30I/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@84cbafc11535b8592bec79060e67b72f506a7bec 🚀
  404.html
  _next/static/ymB38swk9ObXNB2w3jZOj/_buildManifest.js
  _next/static/ymB38swk9ObXNB2w3jZOj/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@ccb0b40c368ac17ce899217bc99883325c140b3a 🚀
  404.html
  _next/static/rgOmAh2rlQnJaBgSE5sx_/_buildManifest.js
  _next/static/rgOmAh2rlQnJaBgSE5sx_/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@a69fa01192cf6200a749664e7c6eaaa1c9924544 🚀
  404.html
  _next/static/tG1Jjx0NCB6_XrUCjINhx/_buildManifest.js
  _next/static/tG1Jjx0NCB6_XrUCjINhx/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add an article about my zsh setup
  src/posts/005-my-zsh-setup/autosuggestions.mp4
  src/posts/005-my-zsh-setup/completions.mp4
  src/posts/005-my-zsh-setup/fzf-tab.mp4
  src/posts/005-my-zsh-setup/page.md
  src/posts/005-my-zsh-setup/spaceship-prompt.png
  src/posts/005-my-zsh-setup/substring-search.mp4
  src/posts/005-my-zsh-setup/syntax-highlighting.mp4
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@4c63856cb125a988906b3bf784a7ed08ea0fb14f 🚀
  404.html
  _next/static/daLuu6kukEGkLB48HyqHF/_buildManifest.js
  _next/static/daLuu6kukEGkLB48HyqHF/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add border radius to window recordings
  src/app/globals.css
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@a46f6423916c0c08cfb5bd26847cc09d8a95ce33 🚀
  404.html
  _next/static/Z41fQnmI4xLIlopOthB8Q/_buildManifest.js
  _next/static/Z41fQnmI4xLIlopOthB8Q/_ssgManifest.js
  _next/static/css/09008d09b13661d4.css
  _next/static/css/45f2adcbcb11f1b7.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add export to FZF_DEFAULT_OPTS
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@d08544a7e85d6a52c5fa383e24add9bb30c70832 🚀
  404.html
  _next/static/M1zxRJHvNORdiHZYKkByB/_buildManifest.js
  _next/static/M1zxRJHvNORdiHZYKkByB/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add more info about fzf
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@9b7be51e4dd8ac21d42ad79c3c7da38b2de10a7e 🚀
  404.html
  _next/static/tt6kXBeNiG5Y-hThxbWun/_buildManifest.js
  _next/static/tt6kXBeNiG5Y-hThxbWun/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add disabling paste highlight
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@9675d3b5b47122226783325f6eb31f7b3346f1d6 🚀
  404.html
  _next/static/wM0SO0inZm_Dxq5jiXPIA/_buildManifest.js
  _next/static/wM0SO0inZm_Dxq5jiXPIA/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix typo in zsh plugin name
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@e9bb9141313295120cde8377fc7d9999a2709e3c 🚀
  404.html
  _next/static/sbBFNvMYKtZIumSvx-Md-/_buildManifest.js
  _next/static/sbBFNvMYKtZIumSvx-Md-/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix typos
  src/posts/005-my-zsh-setup/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@092ec47e5135065495f58c9ffeca15a21802a66e 🚀
  404.html
  _next/static/RQtozrfrXveJ974hUqtkW/_buildManifest.js
  _next/static/RQtozrfrXveJ974hUqtkW/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix horizontal scrollbar from TOC
  src/components/TableOfContent/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@0a2081dc2ca9c6abb34a1171284bf7e56b31c52a 🚀
  404.html
  _next/static/css/709e32fbdffc72bf.css
  _next/static/css/daddea30ec70cb97.css
  _next/static/kXAjaCaqip6Vb_Up8vFBI/_buildManifest.js
  _next/static/kXAjaCaqip6Vb_Up8vFBI/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@64df43f6b9fd3353c9bc814a078fd582766526e7 🚀
  404.html
  _next/static/2aFXqY6T_TZvR9YbmLVbB/_buildManifest.js
  _next/static/2aFXqY6T_TZvR9YbmLVbB/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@b9b5a7e56a5f39d348f20c548ea04d98dbc015ee 🚀
  404.html
  _next/static/4Mk0Glo0F8fDbdglFgZ2P/_buildManifest.js
  _next/static/4Mk0Glo0F8fDbdglFgZ2P/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@8ffadf78d893c73023e94b918a8c971a9d0bbf21 🚀
  404.html
  _next/static/rwVobAcOBa0ee9IPO54mW/_buildManifest.js
  _next/static/rwVobAcOBa0ee9IPO54mW/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@bbd595a7fbd9d27fe26a8b998c033d782f8dad24 🚀
  404.html
  _next/static/rhkU-wjELUQ0WHPi8OxAY/_buildManifest.js
  _next/static/rhkU-wjELUQ0WHPi8OxAY/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@6ea770f470ecbbec90a03dafc3b4e0718a5c62bf 🚀
  404.html
  _next/static/p0CoO45_r8UQSGcYhZhpk/_buildManifest.js
  _next/static/p0CoO45_r8UQSGcYhZhpk/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Update dual module setup
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@92c30edd0b2b3ddc831b1568a1f241d3902991c5 🚀
  404.html
  _next/static/dx_QAnXlxKwdJKRbXdXqM/_buildManifest.js
  _next/static/dx_QAnXlxKwdJKRbXdXqM/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add recommendation for tool-specific conditions
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@ee5b205b435019d0cbb85cff167e841cf3f1446d 🚀
  404.html
  _next/static/chunks/app/layout-829c52a6fa266924.js
  _next/static/chunks/app/layout-9fb048ed39c9a2d3.js
  _next/static/css/09008d09b13661d4.css
  _next/static/css/1b15dbe72d3f3588.css
  _next/static/media/12c9b7160831a5aa-s.woff2
  _next/static/media/2e116082a24c3433-s.woff2
  _next/static/media/5cc3c54ef40a8318-s.woff2
  _next/static/media/663b5b56829baa06-s.p.woff2
  _next/static/media/677df8436fa62dab-s.woff2
  _next/static/media/6f0cf87c02d37638-s.woff2
  _next/static/media/b52c96007c0e4194-s.woff2
  _next/static/media/bf360f1aff2dd67f-s.woff2
  _next/static/media/d7e565821f791b79-s.woff2
  _next/static/media/df99695897be762b-s.p.woff2
  _next/static/media/e071340eb8076c95-s.woff2
  _next/static/media/e710a82c5d19ceb8-s.woff2
  _next/static/media/f1622db4e45bfafd-s.woff2
  _next/static/mtvl8G9XGDp2iz58D7oAh/_buildManifest.js
  _next/static/mtvl8G9XGDp2iz58D7oAh/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add a note about import.meta
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@317b777cb40e3f3e5e2f8d4038501754a335c1f3 🚀
  404.html
  _next/static/o29k7PJVAgZJEp1SKTfq7/_buildManifest.js
  _next/static/o29k7PJVAgZJEp1SKTfq7/_ssgManifest.js
  about.html
  about.txt
  data.json
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@c00fff462d68567acf0ef889960f852405bd0e85 🚀
  404.html
  _next/static/zbzDK6V0THsRuXSnq6qYs/_buildManifest.js
  _next/static/zbzDK6V0THsRuXSnq6qYs/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/my-zsh-setup.html
  posts/my-zsh-setup.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx, tsx}
  markdown: any of: *.md
