Repository satya164/satya164.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx, tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true

zIndex -> z-index
  src/posts/003-stacking-context-in-css/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@1496d887adc87b18c5f8659ad4cb40f5fe1eb9f0 🚀
  404.html
  _next/static/tgSMwMUqmLU9Wp8k7_WVh/_buildManifest.js
  _next/static/tgSMwMUqmLU9Wp8k7_WVh/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

wip
  package.json
  src/app/rss.xml/route.ts
  src/posts/_all.ts
  yarn.lock
Due: lint, types

Rework nav bar
  src/assets/images/avatar-small.jpg
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.module.css
Due: lint

Upgrade depenencies
  package.json
  yarn.lock
Due: none

Fix margin for code blocks
  src/app/globals.css
Due: none

Tweak primary color
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@3da2ca206aab49453c554bae0b4da82f66e445cd 🚀
  404.html
  _next/static/MGscJaNUICiBvnNY8hPcF/_buildManifest.js
  _next/static/MGscJaNUICiBvnNY8hPcF/_ssgManifest.js
  _next/static/css/7ff92b8d03492f21.css
  _next/static/css/b753fcebba6beeb9.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Move copy button to title if exists
  src/components/CopyButton/styles.module.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@c5050d14ac4027165423d19e435f977f2d574980 🚀
  404.html
  _next/static/BKLjXlWCY8sf_SIyPUelw/_buildManifest.js
  _next/static/BKLjXlWCY8sf_SIyPUelw/_ssgManifest.js
  _next/static/css/54406936ac53aaa7.css
  _next/static/css/f8a11b9ae94c2302.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix theme switching
  src/components/ThemeSwitcher/index.tsx
Due: lint

Deploying to gh-pages from @ satya164/satya164.github.io@8cdb21a91cb1db8c900c75715a68badd9a72c13d 🚀
  404.html
  _next/static/Hp-YC4iMzVz5KS_gDabSW/_buildManifest.js
  _next/static/Hp-YC4iMzVz5KS_gDabSW/_ssgManifest.js
  _next/static/chunks/app/layout-248d866a3f57725c.js
  _next/static/chunks/app/layout-b2c3e4210457bc55.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add an article about ESM dual modules
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Add an article about ESM dual modules (#6)
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@0cee560ac7afa8b5b423b6e9586c86a017e5878a 🚀
  404.html
  _next/static/wxVdimVjgLJcCB6SNyJhB/_buildManifest.js
  _next/static/wxVdimVjgLJcCB6SNyJhB/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  rss.xml
  sitemap.xml
  talks.html
  talks.txt
Due: lint, types

Fix typos
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@7dad0f8ca223e7474871cdf63bbd37d67a339765 🚀
  404.html
  _next/static/V5U_7SLjn6xNektOyoffG/_buildManifest.js
  _next/static/V5U_7SLjn6xNektOyoffG/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add link icon and make h4 hyperlinks
  next.config.mjs
  src/app/globals.css
Due: none

Move the gotcha to headings
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@d332d11088fb183cd02b439aa9c932eb1d5d0977 🚀
  404.html
  _next/static/Khf7Ll6Gbygbd5Fp_tzyv/_buildManifest.js
  _next/static/Khf7Ll6Gbygbd5Fp_tzyv/_ssgManifest.js
  _next/static/css/b753fcebba6beeb9.css
  _next/static/css/e2fbf83149064d67.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix showing link icon for headings
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@4ec6371402ba4aecc3a4ae2bc86b6bd29f19b62b 🚀
  404.html
  _next/static/css/a299859d9ce42be0.css
  _next/static/css/e2fbf83149064d67.css
  _next/static/ifjrKiNqW1UBDLTROrcod/_buildManifest.js
  _next/static/ifjrKiNqW1UBDLTROrcod/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Fix link icon on small screens
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@58ccf331f256d68fb7d7e188656fbb7e66ebfaf5 🚀
  404.html
  _next/static/_KKphwQvh25xXVBytIjGa/_buildManifest.js
  _next/static/_KKphwQvh25xXVBytIjGa/_ssgManifest.js
  _next/static/css/34e2794d496ecdf5.css
  _next/static/css/a299859d9ce42be0.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

fix: fix heading link icon color in dark mode
  src/app/globals.css
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@2447a93fa8169bffd10f3a05274d4bfeb7d4c8ba 🚀
  404.html
  _next/static/UuA8K5GX_ApmDKKwbm2g7/_buildManifest.js
  _next/static/UuA8K5GX_ApmDKKwbm2g7/_ssgManifest.js
  _next/static/css/002d86d5474fe117.css
  _next/static/css/34e2794d496ecdf5.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add details about package exports
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@24ac48448ab7afc45a069ac51d4f8a9eb8113c3a 🚀
  404.html
  _next/static/zuNanHYlv7K9qwApAQgnE/_buildManifest.js
  _next/static/zuNanHYlv7K9qwApAQgnE/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Minor tweak
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@334c2f2c089b1f585f60331a840f06cca27be000 🚀
  404.html
  _next/static/R0cZcs_E-mUyvMiY5wpPR/_buildManifest.js
  _next/static/R0cZcs_E-mUyvMiY5wpPR/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add more details about order of exports
  src/posts/004-publishing-dual-module-esm-libraries/page.md
Due: markdown

Deploying to gh-pages from @ satya164/satya164.github.io@ee343791f773f096fcd5d3ebeffbf508b18b4a28 🚀
  404.html
  _next/static/B1jcjk_ukx7mrQ_wfBFgO/_buildManifest.js
  _next/static/B1jcjk_ukx7mrQ_wfBFgO/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add styling for GitHub style admonitions
  next.config.mjs
  package.json
  src/app/globals.css
  yarn.lock
Due: none

Deploying to gh-pages from @ satya164/satya164.github.io@051bfc2f38cb752dc678a1773146860e6034deaf 🚀
  404.html
  _next/static/css/002d86d5474fe117.css
  _next/static/css/4af32193ca554c53.css
  _next/static/g0q5wNPy0wkNxJmR0iDeo/_buildManifest.js
  _next/static/g0q5wNPy0wkNxJmR0iDeo/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@74a28f338865871c5633c13d7fd3cfebf909cc42 🚀
  404.html
  _next/static/LC3XMoVqSqQnrDbEk0w6P/_buildManifest.js
  _next/static/LC3XMoVqSqQnrDbEk0w6P/_ssgManifest.js
  _next/static/chunks/app/page-7a0b4dc82f0f7bb2.js
  _next/static/chunks/app/page-91bc2a8110eb7406.js
  _next/static/chunks/app/posts/[id]/page-13d2feee74effb00.js
  _next/static/chunks/app/posts/[id]/page-540fdedccf18a6b4.js
  _next/static/chunks/webpack-0f1fd53fa6282c30.js
  _next/static/chunks/webpack-f8488d2145f2edfc.js
  _next/static/css/4af32193ca554c53.css
  _next/static/css/54406936ac53aaa7.css
  _next/static/css/9a26a2f771181d42.css
  _next/static/css/d8f24c550b8729fa.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@9153f730397d8551208bd1617a99fb0eaa8d7eba 🚀
  404.html
  _next/static/css/11a7b57d06028a9c.css
  _next/static/css/9a26a2f771181d42.css
  _next/static/movN14cBJxffHxrkBXj1I/_buildManifest.js
  _next/static/movN14cBJxffHxrkBXj1I/_ssgManifest.js
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Add a TOC to articles
  next.config.mjs
  package.json
  src/app/globals.css
  src/app/posts/[id]/page.tsx
  src/components/TableOfContent/index.tsx
  src/components/TableOfContent/styles.module.css
  src/posts/_all.ts
  yarn.lock
Due: lint, types

Deploying to gh-pages from @ satya164/satya164.github.io@74668ca504deb523444894e635321cfec089463a 🚀
  404.html
  _next/static/QVu8NFQIJ37-H_8rginpn/_buildManifest.js
  _next/static/QVu8NFQIJ37-H_8rginpn/_ssgManifest.js
  _next/static/chunks/app/posts/[id]/page-13d2feee74effb00.js
  _next/static/chunks/app/posts/[id]/page-da7f57be9394070b.js
  _next/static/css/11a7b57d06028a9c.css
  _next/static/css/690237afda606419.css
  about.html
  about.txt
  index.html
  index.txt
  posts/automated-release-on-github-actions.html
  posts/automated-release-on-github-actions.txt
  posts/how-to-write-a-minimal-code-editor.html
  posts/how-to-write-a-minimal-code-editor.txt
  posts/publishing-dual-module-esm-libraries.html
  posts/publishing-dual-module-esm-libraries.txt
  posts/stacking-context-in-css.html
  posts/stacking-context-in-css.txt
  talks.html
  talks.txt
Due: lint, types

Tweak styling
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/Footer/index.tsx
  src/components/Footer/styles.module.css
  src/components/NavBar/styles.module.css
  src/components/SocialLinks/styles.module.css
  src/components/TableOfContent/styles.module.css
Due: lint
